@use "../custom" as *;

@use "../components/mixins" as *;

.menu {
  @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: $text-primary !important;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
        border-bottom: 2px solid $white;
        transition-duration: 500ms;
      }
    }
  }
  button {
    &:hover {
      transition-duration: 500ms;
    }
  }
}
